src/META-INF/wsdl/localhost_8080/carShowRoom/showRoom.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="showRoom">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/carShowRoom/showRoom?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="carColors">
<part name="parameters" element="tns:carColors"/>
</message>
<message name="carColorsResponse">
<part name="parameters" element="tns:carColorsResponse"/>
</message>
<message name="getBasedOnMakeAndColor">
<part name="parameters" element="tns:getBasedOnMakeAndColor"/>
</message>
<message name="getBasedOnMakeAndColorResponse">
<part name="parameters" element="tns:getBasedOnMakeAndColorResponse"/>
</message>
<message name="getBlueAndAvailable">
<part name="parameters" element="tns:getBlueAndAvailable"/>
</message>
<message name="getBlueAndAvailableResponse">
<part name="parameters" element="tns:getBlueAndAvailableResponse"/>
</message>
<portType name="showRoom">
<operation name="update">
<input wsam:Action="http://ws/showRoom/updateRequest" message="tns:update"/>
<output wsam:Action="http://ws/showRoom/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://ws/showRoom/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws/showRoom/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://ws/showRoom/insertRequest" message="tns:insert"/>
<output wsam:Action="http://ws/showRoom/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="carColors">
<input wsam:Action="http://ws/showRoom/carColorsRequest" message="tns:carColors"/>
<output wsam:Action="http://ws/showRoom/carColorsResponse" message="tns:carColorsResponse"/>
</operation>
<operation name="getBasedOnMakeAndColor">
<input wsam:Action="http://ws/showRoom/getBasedOnMakeAndColorRequest" message="tns:getBasedOnMakeAndColor"/>
<output wsam:Action="http://ws/showRoom/getBasedOnMakeAndColorResponse" message="tns:getBasedOnMakeAndColorResponse"/>
</operation>
<operation name="getBlueAndAvailable">
<input wsam:Action="http://ws/showRoom/getBlueAndAvailableRequest" message="tns:getBlueAndAvailable"/>
<output wsam:Action="http://ws/showRoom/getBlueAndAvailableResponse" message="tns:getBlueAndAvailableResponse"/>
</operation>
</portType>
<binding name="showRoomPortBinding" type="tns:showRoom">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="carColors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBasedOnMakeAndColor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBlueAndAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="showRoom">
<port name="showRoomPort" binding="tns:showRoomPortBinding">
<soap:address location="http://localhost:8080/carShowRoom/showRoom"/>
</port>
</service>
</definitions>